@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Bold.ttf');
}

.default-btn {
    -fx-padding: 8 16;
    -fx-background-color: transparent;
    -fx-border-color: lightgray;
    -fx-border-width: 1;
    -fx-border-radius: 45;
    -fx-font-family: 'Poppins Medium', sans-serif;
    -fx-font-size: 14;
}

.shuffle-btn {
    -fx-padding: 8 16;
    -fx-background-color: transparent;
    -fx-background-image: url('shuffle_icon.png');
    -fx-background-size: 20px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-border-color: lightgray;
    -fx-border-width: 1;
    -fx-border-radius: 45;
    -fx-font-family: 'Poppins Medium', sans-serif;
    -fx-font-size: 14;
}

.text-field {
    -fx-background-color: transparent;
    -fx-font-family: 'Poppins', sans-serif;
    -fx-font-size: 32;
}

.score-label {
    -fx-font-family: 'Poppins Medium', sans-serif;
    -fx-font-size: 14;
}

.letter-btn {
    -fx-background-color: transparent;
    -fx-background-image: url('default_letter_hive.png');
    -fx-background-size: 75px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-font-family: 'Poppins', sans-serif;
    -fx-font-size: 18;
}

.letter-btn-center {
    -fx-background-color: transparent;
    -fx-background-image: url('center_letter_hive.png');
    -fx-background-size: 75px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-font-family: 'Poppins', sans-serif;
    -fx-font-size: 18;
}

.home-title {
    -fx-font-family: 'Poppins', sans-serif;
    -fx-font-size: 32;
}

.home-desc {
    -fx-font-family: 'Poppins Medium', sans-serif;
    -fx-font-size: 18;
    -fx-text-fill: gray;
}

.word-listview {
    -fx-background-color: #F4F4F4;
}

.progress-bar > .track {
    -fx-text-box-border: lightgray;
    -fx-control-inner-background: #F4F4F4;
}

.progress-bar .bar {
    -fx-background-color: #F7DA21;
}